/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.special {
  background-color: rgb(247, 161, 164);
  border: solid 5px rgb(158, 41, 41);
  color: black;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 10px;
}

/* TASK X */
.special-section {
  color: blue;
}