/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #89805f;
  }

  h1 {
    color:#89805f;
    font-size: 150%;
  }

  p {
    color:#89805f;
    font-family: "Verdana";
    text-indent: 10px;
  }

  #content {
    background-color:antiquewhite;
    width: 500px;
    min-height: 300px;
    padding: 20px;
    margin: 10px;
    border: dashed 2px #888;
    font-size: 20px;
  }